<h1>Listing jungles</h1>

<table>
  <thead>
    <tr>
      <th>Monkey</th>
      <th>Eats</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jungles.each do |jungle| %>
      <tr>
        <td><%= jungle.monkey %></td>
        <td><%= jungle.eats %></td>
        <td><%= link_to 'Show', jungle %></td>
        <td><%= link_to 'Edit', edit_jungle_path(jungle) %></td>
        <td><%= link_to 'Destroy', jungle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jungle', new_jungle_path %>
